
{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="text-center">
        <img height="40px" scr="{{url}}">
        <h3> Hola {{user.username}}</h3>
        
    </div>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">listado de estilos</h2>
                <h3 class= "section-subheading text-muted ">A continuacion podras ver la clasificacion de estilos segun BJCP</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    
                    <h4 class="my-3">
                        <li> ALES</li>
                        </h4>
                    <p class="text-muted">
                        <li><U>AMERICANAS</U></li>
<li>1C. Cream Ale</li>                        
<li>1D. American Wheat Beer</li>
<li>18A. Blond Ale</li>
<li>18B. American Pale Ale</li>
<li>19A. American Amber Ale</li>
<li>19C. American Brown Ale</li>
<li>20A. American Porter</li>
<li>20B. American Stout</li>
<li>21A. American IPA</li>
<li>21B. Specialty IPA</li>
<li>21C. Hazy Ipa</li>
<li>22A. Double IPA</li>
<li>22B. American Strong Ale</li>
<li>22C. American Barleywine</li>
<li>22D. Wheatwine</li>
<li>27. Historical Beer (Kentucky Common)</li>
<li>27. Historical Beer (Pre-Pro Porter)</li>
<li>X1. Dorada Pampeana</li>
<li>X2. IPA Argenta</li>
<li><U>- ALEMANAS, CHECAS Y AUSTRIACAS</U></li>
<li>5B. Kölsch</li>
<li>7B. Altbier</li>
<li>10A. Weissbier</li>
<li>10B. Dunkles Weissbier</li>
<li>10C. Weizenbock</li>
<li>27. Historical Beer (Roggenbier)</li>
<li>- <U>BELGAS Y FRANCESAS</U></li>
<li>24A. Witbier</li>
<li>24B. Belgian Pale Ale</li>
<li>25A. Belgian Blond Ale</li>
<li>25B. Saison</li>
<li>25C. Belgian Golden Strong Ale</li>
<li>26A. Trappist Single</li>
<li>26B. Belgian Dubbel</li>
<li>26C. Belgian Tripel</li>
<li>26D. Belgian Dark Strong Ale</li>
<li><U>- BRITANICAS</li></U>
<li>11A. Ordinary Bitter</li>
<li>11B. Best Bitter</li>
<li>11C. Strong Bitter</li>
<li>12A. British Golden Ale</li>
<li>12C. English IPA</li>
<li>13A. Dark Mild</li>
<li>13B. British Brown Ale</li>
<li>13C. English Porter</li>
<li>14A. Scottish Light</li>
<li>14B. Scottish Heavy</li>
<li>14C. Scottish Export</li>
<li>15A. Irish Red Ale</li>
<li>15B. Irish Stout</li>
<li>15C. Irish Extra Stout</li>
<li>16A. Sweet Stout</li>
<li>16B. Oatmeal Stout</li>
<li>16C. Tropical Stout</li>
<li>16D. Foreign Extra Stout</li>
<li>17A. British Strong Ale</li>
<li>17B. Old Ale</li>
<li>17C. Wee Heavy</li>
<li>17D. English Barleywine</li>
<li>20C. Imperial Stout</li>
<li>27. Historical Beer (London Brown Ale)</li>
<li><U>- INTERNACIONALES</li></U>
<li>12B. Australian Sparkling Ale</li>
<li>27. Historical Beer (Piwo Grodziskie)</li>
<li>27. Historical Beer (Sahti)</li>
                     
                        
                       </p>
                </div>
                <div class="col-md-4">
                   
                    <h4 class="my-3">• LAGERS</h4>
                    <p class="text-muted">
                        <LI><U>- Americanas</U></LI>
                        <li>1A. American Light Lager</li>
                        <li>1B. American Lager</li>
                        <li>27. Historical Beer (Pre-Pro Lager)</li>
                        <li><u>- ALEMANAS CHECAS Y AUSTRIACAS</u></li>
                        <li>3A. Czech Pale Lager</li>
                        <li>3B. Czech Premium Pale Lager</li>
                        <li>3C. Czech Amber Lager</li>
                        <li>3D. Czech Dark Lager</li>
                        <li>4A. Munich Helles</li>
                        <li>4B. Festbier</li>
                        <li>4C. Helles Bock</li>
                        <li>5A. German Leichtbier</li>
                        <li>5C. Helles Exportbier</li>
                        <li>5D. German Pils</li>
                        <li>6A. Märzen</li>
                        <li>6B. Rauchbier</li>
                        <li>6C. Dunkles Bock</li>
                        <li>7A. Vienna Lager</li>
                        <li>7C. Kellerbier</li>
                        <li>8A. Munich Dunkel</li>
                        <li>8B. Schwarzbier</li>
                        <li>9A. Doppelbock</li>
                        <li>8B. Eisbock</li>
                        <li><u>- INTERNACIONALES</u></li>
                        <li>2A. International Pale Lager</li>
                        <li>2B. International Amber Lager</li>
                        <li>2C. International Dark Lager</li>
                        <li>X5. New Zealand Pilsner.</li></p>
                </div>
                <div class="col-md-4">
                 
                    <h4 class="my-3">OTRAS</h4>
                    <p class="text-muted"><LI><U>• ESPEACIALES HIBRIDAS O MIXTAS DE CUALQUIER ORIGEN</U></LI>
                        <li>9C. Baltic Porter</li>
                        <li>19B. California Common</li>
                        <li>23A. Berliner Weisse</li>
                        <li> 23B. Flanders Red Ale</li>
                        <li> 23C. Oud Bruin</li>
                        <li>23D. Lambic</li>
                        <li>23E. Gueuze</li>
                        <li>23F. Fruit Lambic</li>
                        <li>23G. Gose</li>
                        <li>24C. Bière de Garde</li>
                        <li>27. Historical Beer (Lichtenhainer)</li>
                        <li> 28A. Brett Beer</li>
                        <li> 28B. Mixed-Fermentation Sour Beer</li>
                        <li>28C. Wild Specialty Beer</li>
                        <li> 29A. Fruit Beer</li>
                        <li> 29B. Fruit and Spice Beer</li>
                        <li> 29C. Specialty Fruit Beer</li>
                        <li> 30A. Spice, Herb, or Vegetable Beer</li>
                        <li> 30B. Autumn Seasonal Beer</li>
                        <li> 30C. Winter Seasonal Beer</li>
                        <li> 31A. Alternative Grain Beer</li>
                        <li> 31B. Alternative Sugar Beer</li>
                        <li> 32A. Classic Style Smoked Beer</li>
                        <li>  32B. Specialty Smoked Beer</li>
                        <li>  33A. Wood-Aged Beer</li>
                        <li>33B. Specialty Wood-Aged Beer</li>
                        <li>  34A. Clone Beer</li>
                        <li> 34B. Mixed-Style Beer</li>
                        <li>  34C. Experimental Beer</li>
                        <li>  X3. Italian Grape Ale</li>
                        <li> X4. Catharina Sour.</li></p>
                </div>
            </div>
        </div>
    </section>

 
{% endblock %}