{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<body>
    <li>Alemanas Checas Austriacas Lager</li>
    {% for p in alemanasChecasAustriacasLager%}
        {% if p.nombre %}
        <li> {{p}} </li>
        <li>    {% if p.imagen %} 
                <img src=" {{p.imagen.url}} " alt="mcmd">
            {% endif %} </li>
            <a class="btn btn-primary" href="{% url 'AppFinal:eliminarAlemanasChecasAustriacasLager' p.nombre %}">ELIMINAR RECETA</a>
            <a class="btn btn-primary" href="{% url 'AppFinal:editarAlemanasChecasAustriacasLager'  p.nombre %}">EDITAR RECETA</a>
        </li>
        {% endif %}
    {% endfor %}
    



    <br>
    <a class="btn btn-primary" href="{% url 'AppFinal:alemanasChecasAustriacasLager' %}">AGREGAR RECETA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
                
    </div>
</body>

{% endblock %}