{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<body>
    <li>Britanicas Ale</li>
    {% for p in britanicasAle %}
    <li> {{p}} 
        <a class="btn btn-primary" href="{% url 'AppFinal:eliminarBritanicasAle' p.nombre %}">ELIMINAR RECETA</a>
        <a class="btn btn-primary" href="{% url 'AppFinal:editarBritanicasAle' p.nombre %}">EDITAR RECETA</a>
    </li>
    {% endfor %}

    <br>
    <a class="btn btn-primary" href="{% url 'AppFinal:britanicasAle' %}">AGREGAR RECETA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
                
    </div>
</body>

{% endblock %}