

{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


 



<body>
    

    {% if americanasAle %}
    <p>La receta con el nombre  {{nombre}} es: </p>
    <ul>
        {% for americanasAle in americanasAle %}
            <li> Nombre: {{americanasAle.nombre}} </li>
            <li> Maltas: {{americanasAle.maltas}} </li>
            <li> Lupulo: {{americanasAle.lupulo}} </li>
            <li> Levadura: {{americanasAle.levadura}} </li>
            <li> Proceso de Coccion: {{americanasAle.procesoDeCoccion}} </li>
            <li> Email de Contacto: {{americanasAle.emailDeContacto}} </li>
            <li> Fecha de Publicacion: {{americanasAle.fechaDePublicacion}} </li>
            <li>{% if americanasAle.imagen %} 
                imagen: <img src="{{ americanasAle.imagen.url }}" alt="mcmd">
            {% endif %}</li>
        {% endfor %}
    </ul>



    {% else %}
    <p>La receta que se busca no se encuentra.</p>
    {% endif %}
 
    <p>VOLVER A BUSCAR</p>

    
    <a class="navbar-brand" href="{% url "AppFinal:busquedaAmericanasAle"%}">Americanas Ale</a>
    

</body>
</html>

{% endblock %}